.App{
    margin: 25px;
    align-content: space-around;
}

.Caja{
    padding: 50px;
    justify-content: flex-end;
}

.barra{
    height: 180px;
    background-color: white;
    color: orange;
    font-style: bold;
    font-size: 15px;

}
.col2¨
{
    font-family: cursive;
    font-size: 35px;
    color: orange;
    font-style: italic;
}
.ctexto{
    padding: 15px;
    justify-content: flex-end;

}

.buscador{
    font-size: 10px;
    font-family: cursive;
    color: darkgray;
}
.App-logo{
    margin: 0 40px;
    align-items: flex-start;
    height:150px;
}
.col3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:darkgray;
    margin: 25px;
}