.Tarjeta {
  max-width: 100px;
  height: 200px;
  box-shadow: 4px 2px 26px 0px rgba(80, 77, 77, 0.36);
  padding: 30px;
  margin: 15px;
  display: inline-block;
  background-color:white;
}
.foto{
  width: 70%;
}